


.card{
    height: 166px;
    aspect-ratio: 1/1;
    background-image: url(./img/backside.jpg);
    background-size: cover;
    background-position: center;
}

.card.flipped{
    background-image: url(./img/2.png);
}