


.card{
    height: 166px;
    aspect-ratio: 1/1;
    background-image: url(./img/backside.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card.flipped {
    background-image: url(./img/1.jpg);
}

.card.flipped._3,
.card.flipped._4 {
    background-image: url(./img/2.png);
}

.card.flipped._5,
.card.flipped._6 {
    background-image: url(./img/3.jpg);
}

.card.flipped._7,
.card.flipped._8 {
    background-image: url(./img/4.jpg);
}

.card.flipped._9,
.card.flipped._10 {
    background-image: url(./img/5.jpg);
}

.card.flipped._11,
.card.flipped._12 {
    background-image: url(./img/6.jpg);
}

.card.hidden{
    background-image: url(./img/backside.jpg);
    opacity: 0;
}