:root{
  --gap: 20px;
}

.field{
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 700px;
  height: 550px;
  background-color: #f2f2f2;
  justify-content: space-around;
  align-content: space-around;
  border: black solid 1px;
}



